.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffffaa;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #222;
    margin-top: 20px;
    margin-bottom: 20px;
}